@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@200;400;600;800&display=swap');

:root {
  --color-primary: #b3e8da;
  --color-secondary: #fff8b7;
  --color-accent: #f9c30e;
  --color-coral: #ffb5a7;
  --color-light: #def1ec;
  --color-text: #000;
  --color-text-muted: #555;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  color: var(--color-text);
  background-color: var(--color-light);
}
