---
import '../styles/global.css';
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Una Maestra Muy Especial</title>
  </head>
  <body>
    <slot />
  </body>
</html>
